body {
	padding: 0;
	margin: 0;
	height: 100%;
	font-family: arial, sans serif;
	background-image: url(images/backgrounds/00.jpg);
}

header {
	height: 75px;
	width: 100%;
	text-align: center;
	background-color: #000;
	opacity: 0.40;
	display: flex;
	justify-content: center;
	align-items: center;
}

header h1 {
	opacity: 1;
	color: #FFF;
}

/* Premier niveau */
#menu, #menu ul {
	padding: 0;
	margin: 0;
	list-style: none;
	white-space: nowrap;
}

#menu li {
	display: inline-block;
	position: relative;
	vertical-align: top;
}

#menu a {
	display: block;
	padding: 5px 25px;
	text-decoration: none;
	color: #000000;
}

/* deuxieme niveau */
#menu ul {
	position: absolute;
	z-index: 1000;
	min-width: 100%;
}

#menu ul li {
	display: inherit;
	overflow: hidden;
	max-height: 0;
	transition: all 0.8s;
}

#menu ul li a {
  padding: 5px 5px;
}

#menu li:hover li {
	max-height: 15em;
	overflow: visible;
}

/* troisieme niveau */
#menu ul ul {
	left: 100%;
	top: 0;
	overflow: hidden;
	max-height: 0;
	transition: 0.4s all;
}

#menu ul li:hover ul {
  overflow: visible;
  max-height: 30em;
  background-color: gray;
}

#menu ul ul li {
	max-height: inherit
}

.thumbnails {
	border: solid 1px;
}

.thumbnails img {
	border: solid 2px;
	width: 50px;
	height: 50px;
}

.flottante {
	border: solid 3px;
	margin: 25px;
	max-height: 480px;
	max-width: 720px;
	float: left;
}

.description {
	color: #DADADA;
	padding: 10px;
}

.control {
	text-align: center;
	position: absolute;
	clear: both;
	left: 0;
	bottom: 50px;
	height: 50px;
	width: 100%;
}

.control a {
	border: solid 1px;
	padding: 5px 15px 5px 15px;
	text-decoration: none;
	color: #DADADA;
}

footer {
    height: 50px;
    width: 100%;
    background: #212121;
    display: table;
    text-align: center; 
	position: absolute;
	left: 0;
	bottom: 0;
	clear: both;
	color: #999;
}

#copyright {
	vertical-align: middle;
    display: table-cell;
    font-style: italic;
    font-weight: bold;
}