header {
    height:100px;
    width: 100%;
    background: #5D6D7E;
    text-align: center; 
	display: table;
}

body {
	margin: 0px;
    margin-top: 0px;
    font-family: arial, sans-serif;
    color: #000;
}

#container3 {
    float: left;
    width: 100%;
    background: #616A6B;
    overflow: hidden;
    position: relative;
}

#container2 {
    float: left;
    width: 100%;
    position: relative;
    right: 15%;
    background: #D5DBDB;
}

#container1 {
    float: left;
    width: 100%;
    position: relative;
    right: 70%;
    background: #616A6B;
}

#asideLeft {
	margin-top: 0.5%;
	float: left;
	width: 14%;
	position: relative;
	left: 85.5%;
	overflow: hidden;
}

#asideRight {
	margin-top: 0.5%;
	float: left;
	width: 14%;
	position: relative;
	left: 88.5%;
	overflow: hidden;
}

section {
	float: left;
	width: 68%;
	position: relative;
	left: 87%;
	overflow: hidden;
}

footer {
	float: left;
    height:100px;
    width: 100%;
    background: #5D6D7E;
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 30px;
    vertical-align: middle;
    display: table-cell;
}
    
h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 24px;
    text-align: center;
}

h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
}

#menu {
	padding: 0% 10% 0% 10%;
}

#panier {
	height: 300px;
	width: 350px;	
	float: right;
	padding-top: 2%;
	font-family: Helvetica, Arial, sans-serif;
}

#titrePanier {
	height: 10%;
	width: 100%;
	text-align: center;
	border: 2px solid black;
}

#labelPanier {
	display: block;
    font-size: 18px;
	padding-top: 2%;	
}

#items {
	width: 100%;
	height: auto;
	margin-top: -2px;
	border: 2px solid black;
}

.croixRouge {
	height: 20px;
	width: 20px;
	display: inline-block;
	float: left;
	padding-right: 5px;
}

.croixRouge:hover {
	cursor: pointer;
}

#listeItems {
	padding: 2% 5% 0% 5%;
}

.itemListe {
	display: inline-block;
	float: left;
}

.quantiteItem {
	display: inline-block;
	float: right;
}

.prixItem {
	float: right;
}

#taxes {
	text-align: right;
	padding: 0% 5% 2% 5%;
}

#total {
	width: 100%;
	height: 10%;
	margin-top: -2px;
	border: 2px solid black;
}

#labelTotal {
	display: inline-block;
	float: left;
	font-size: 18px;
	padding: 2% 0% 0% 5%;
}

#montantTotal {
	display: inline-block;
	float: right;
	text-align: right;
	padding: 2% 5% 0% 0%;
}


.nbItem{
	width: 30px;
	text-align: center;
}

.menuItem {
	width: 100%;
}

.itemName {
	width: 30%;
    display: inline-block;
    border-bottom: 1px solid black;
}

.garnitures {
	padding-left: 50px;
}

.granitureName {
    width: 26%;
    display: inline-block;
}

.bouton {
	padding-left: 30%;
}
