header {
    height:100px;
    background: lightblue;
    text-align: center;
    border: thin solid black;
    background-image: url("snackbar.jpg");
    background-repeat: no-repeat;
    background-size:20% 100%;
}

body {
    margin: auto;
    margin-top: 0px;
    font-family: arial, sans-serif;
    color: #000;
    width: 1000px;
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 30px;
}
    
h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 24px;
}

h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
}

#commande {
	text-align: center;
}

#panier {
	height: 300px;
	width: 350px;	
	float: right;
	padding: 2% 2% 0% 0%;
	font-family: Helvetica, Arial, sans-serif;
}

#titrePanier {
	height: 10%;
	width: 100%;
	text-align: center;
	border: 2px solid black;
}

#labelPanier {
	display: block;
    font-size: 18px;
	padding-top: 2%;	
}

#items {
	width: 100%;
	height: auto;
	margin-top: -2px;
	border: 2px solid black;
}

#listeItems {
	padding: 2% 5% 0% 5%;
}

.itemListe {
	display: inline-block;
	float: left;
}

.quantiteItem {
	display: inline-block;
	float: right;
}

.prixItem {
	float: right;
}

#taxes {
	text-align: right;
	padding: 0% 5% 2% 5%;
}

#total {
	width: 100%;
	height: 10%;
	margin-top: -2px;
	border: 2px solid black;
}

#labelTotal {
	display: inline-block;
	float: left;
	font-size: 18px;
	padding: 2% 0% 0% 5%;
}

#montantTotal {
	display: inline-block;
	float: right;
	text-align: right;
	padding: 2% 5% 0% 0%;
}


.nbItem{
	width: 30px;
	text-align: center;
}

.menuItem {
	width: 100%;
}

.itemName {
	width: 30%;
    display: inline-block;
    border-bottom: 1px solid black;
}

.garnitures {
	padding-left: 50px;
}

.granitureName {
    width: 26%;
    display: inline-block;
}

.bouton {
	padding-left: 30%;
}
