 *, *:before, *:after { 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: arial, sans-serif;
    font-size: 16px;
    margin:0px;
    background: #1985A1;
}

header {
    height:10%;
    width: 100%;
    background: #4C5C68;
    text-align: center; 
	display: table;
}

header, #asideLeft, #asideRight, footer {
	color: #DCDCDD;
    text-shadow:-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#asideLeft {
	min-height: 85%;
	height: auto;
	float: left;
	width: 15%;
	background: #1985A1;
}

#asideRight {
	min-height: 85%;
	height: auto;
	float: left;
	width: 15%;
	background: #1985A1;
	display: table;
    text-align: center; 
}

section {
	min-height: 85%;
	height: auto;
	float: left;
	width: 70%;
	background: #DCDCDD;
	padding: 0% 3% 2% 3%;
}

footer {
    height: 5%;
    width: 100%;
    background: #4C5C68;
    display: table;
    text-align: center; 
}

#coordonnees {
	padding-top: 10%;
	display: table;
	margin: 0 auto;
	font-size: 18px;
}

#blocCoordonnees {
	display: table;
	margin: 0 auto;
}

#imageSnackBar {
	border: 2px solid black;
}

#copyright {
	vertical-align: middle;
    display: table-cell;
    font-style: italic;
    font-weight: bold;
}

#quoteRight {
	padding: 0% 2% 0% 2%;
	vertical-align: middle;
    display: table-cell;
	font-size: 18px;
    font-style: italic;
    font-weight: bold;	
}

h1 {
    font-size: 40px;
    vertical-align: middle;
    display: table-cell;
}
    
h2 {
    font-size: 28px;
    text-align: center;
}

h3 {
    font-size: 20px;
    text-align: center;
}

#sectionFormulaire {
	float: left;
	width: 66%;
	display: none;
	overflow: hidden;
}

#sectionMenu {
	float: left;
	width: 66%;
	overflow: hidden;
}

#sectionPanier {
	padding-top: 2%;
	float: right;
	width: 33%;
}

#panierAvecBouton, #menu, #carte{
	display: table;
	width: 95%;
	margin: 0 auto;	
}

#panier {
	border: 2px solid black;
}

#titrePanier {
	width: 100%;
	text-align: center;
	display: table;
	border-bottom: 2px solid black;
}

#labelPanier {
    vertical-align: middle;
    display: table-cell;
    padding: 1% 0% 1% 0%;
    font-size: 18px;	
}

#items {
	width: 100%;
	height: auto;
	border-bottom: 2px solid black;
}

.croixRouge {
	height: 22px;
	width: 22px;
	margin-right: 3%;
}

.croixRouge:hover {
	cursor: pointer;
}

#listeItems {
	padding: 2% 3% 0% 3%;
}

.itemListe, .condiment, .croixRouge {
	display: inline-block;
	float: left;
}

.quantiteItem, .prixItem {
	display: inline-block;
	float: right;
}

#taxes {
	text-align: right;
	padding: 0% 3% 2% 3%;
}

#total {
	display: table;
	width: 100%;
}

#labelTotal {
    vertical-align: middle;
    display: table-cell;
	float: left;
	font-size: 18px;
	padding: 1% 0% 1% 3%;
}

#montantTotal {
    vertical-align: middle;
    display: table-cell;
	float: right;
	font-size: 18px;
	padding: 1% 3% 0% 1%;
}

.boutonsPanier {
	display: inline-block;
	margin: 0 auto;
	width: 50%;
	text-align: center;
}

.boutonPanier {
	font-size: 20px;
	width: 90%;
	text-shadow:-0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
}

#boutonCommander {
	color: green;
}

#boutonVider {
	color: red;
}

.nbItem{
	width: 40px;
	text-align: center;
	font-size: 18px;
}

.itemName {
	width: 85%;
    display: inline-block;
    border-bottom: 1px solid black;
}

#condiments {
	padding-left: 5%;
}

.garniture {
    width: 85%;
    display: inline-block;
    padding-left: 5%;
}

.boutonPates {
	margin-left: 85%;
}

.boutonPates, .bouton {
	font-size: 18px;
}

#tableCondiments, #pizza {
    border-spacing: 7px;
}

#boutonCondiment, #pizza  {
	text-align: center;
}

#tableCondiments {
	text-align: left;
}

#pizza td:first-child {
	text-align: left;
	border-bottom: 1px solid black;
}

#tableFormulaire{
	padding-top: 2%;
	border-spacing: 15px;
	margin: 0 auto;
	width: 100%;
}

.textInput {
	width: 100%;
}

#itineraire {
	display: none;
}

#carte {
	display: none;
	margin: 0 auto;
	width: 100%;
	height: 600px;
	border: 0;
	overflow: hidden;
}
